body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
}

aside {
    background-color: rgb(226, 241, 255);
    width: 200px;
    float: left;
    padding: 20px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav li button {
    display: block;
    padding: 10px;
    width: 150px;
    margin: 6px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.04rem;

}

nav li button:hover {
    background-color: #60cdff;
    border-radius: 10px;
}

main {
    padding: 20px;
    margin-left: 220px;
}

section {
    display: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
/* Frame */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: max-content;
    position: absolute;
}
.frame {
    width: 70%;
    padding: 25px;
    height: fit-content;
    background-color: #c3ebfd;
    display: flex;
    justify-content: center ;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
}
.frame > div  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.frame > div > * {
    margin-right: 10px;
    text-align: right;
    font-size: 1.1em;
}
