.clinicBody {
    height: 100vh;
    overflow: hidden;
}

.requestVet {
    width: 23%;
    height: 48%;
    background-color: var(--formColor);
    display:flex ;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 8px;
}