.clinicBody {
    /* background-color: antiquewhite; */
    height: 100vh;
    overflow: hidden;
}

.requestVet {
    width: 30%;
    height: 60%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-self: center;
}